html {
  margin: 0;
}
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}
/* header 부분 common css */
.headerContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
/* 왼쪽 nav */
.headerCenter {
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
}
.Link {
  padding: 10px 12px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.sectionContainer {
  padding-left: 120px;
  padding-right: 120px;
}
